.jumbotron.jumbotron-fluid{
    
    background-image: url(../Image/pic12.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');

.blogp h2{
    font-family: 'Niconne', cursive;
    color: wheat;
}
.blogbody{
    background: #ffffff;
    box-shadow: -35px 35px 73px #e0e0e0, 35px -35px 73px #ffffff;
    margin-bottom: 2rem;
    padding: 2rem;
}